[submodule "third_party/atlahs"]
	path = third_party/atlahs
	url = https://github.com/yifeng-ethz/ATLAHS-rnic-private.git
	branch = main
[submodule "third_party/htsim"]
	path = third_party/htsim
	url = https://github.com/yifeng-ethz/HTSIM-rnic-private.git
	branch = main
